{% assign id = include.map-id %}
{% assign height = (include.height - 10) | default: 20 %}
{% assign width = include.width | default: 20 %}
{% assign data = site.data.maps[id] %}
{% assign color = include.color | default: data.color | default: 'green' %}

<!-- <title>OpenLayers Simplest Example</title> -->
<body onload="init();">
    <div id="map-{{ id }}" style="height:100%; width:100%;"></div>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script src="https://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
    <script>
        var map; //complex object of type OpenLayers.Map

        function init() {
            map = new OpenLayers.Map ("map-{{ id }}", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.LayerSwitcher(),
                    new OpenLayers.Control.Attribution()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );

            // Define the map layer
            // Here we use a predefined layer that will be kept up to date with URL changes
            layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
            map.addLayer(layerMapnik);
            var transportmap = new  OpenLayers.Layer.OSM.TransportMap("TransportMap");
            map.addLayer(transportmap);
            layerCycleMap = new OpenLayers.Layer.OSM.CycleMap("CycleMap");
            map.addLayer(layerCycleMap);
            layerMarkers = new OpenLayers.Layer.Markers("Markers");
            map.addLayer(layerMarkers);

            // Add the Layer with the GPX Track
            var lgpx = new OpenLayers.Layer.Vector("Lakeside cycle ride", {
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "exploration.kml",
                    format: new OpenLayers.Format.KML({
                                extractStyles: true, 
                                extractAttributes: true
                        }),
                }),
                style: {strokeColor: "green", strokeWidth: 5, strokeOpacity: 0.75},
                projection: new OpenLayers.Projection("EPSG:4326")
            });
            map.addLayer(lgpx);

            // Add a Layer with Marker
            var size = new OpenLayers.Size(21, 25);
            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
            var icon1 = new OpenLayers.Icon('https://www.openstreetmap.org/openlayers/img/marker.png',size,offset);
            var icon2 = new OpenLayers.Icon('https://www.openstreetmap.org/openlayers/img/marker.png',size,offset);

            // Start position for the map (hardcoded here for simplicity,
            // but maybe you want to get this from the URL params)
            var lat=-23.912734;
            var lon=-46.228116;
            var zoom=11;
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            map.setCenter(lonLat, zoom);
            
            // begin
            var lat1=-23.98621333420948;
            var lon1=-46.26471449151783;
            var lonLat1 = new OpenLayers.LonLat(lon1, lat1).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            layerMarkers.addMarker(new OpenLayers.Marker(lonLat1,icon1));
            
            // end
            var lat2=-23.80898400476298;
            var lon2=-46.09552471690758;
            var lonLat2 = new OpenLayers.LonLat(lon2, lat2).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            layerMarkers.addMarker(new OpenLayers.Marker(lonLat2,icon2));
        }
    </script>
</body>
